{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="link-header" style="display: flex;" class="flex-column bg-1">
    <div class="link-header-top"></div>

    <div class="link-header-middle">
        <h1 class="no-margin">Dashboard</h1>
    </div>

    <div class="link-header-bottom">
        <a href="/d" class="button active">Home</a>
        <a href="{{ bundlrs }}/d/pastes" class="button">Pastes</a>
        <a href="{{ bundlrs }}/d/atomic" class="button">Atomic</a>
        <a href="{{ puffer }}/d" class="button">Boards</a>
    </div>
</div>

<main class="small flex flex-column g-4">
    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>My Profile</b>

        <a class="button theme:primary round" href="/{{ user.username }}">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>

    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>Account Settings</b>

        <a class="button theme:primary round" href="/{{ user.username }}/settings">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>
</main>
{% call super() %}
{% endblock %}