{% extends "../base.html" %} {% block title %}{{ user.username }}{% endblock %}
{% block toolbar %}
<a class="button round" href="/{{ user.username }}">
    {{ user.username }}
    <span class="chip badge role-{{ user.role }}" style="padding: 0 0.5rem">
        {{ user.role }}
    </span>
</a>
{% endblock %} {% block head %}
<meta property="og:title" content="{{ user.username }}" />
<meta property="og:description" content="{{ user.username }}'s profile" />
{% endblock %} {% block toolbar_right %} {% if auth_state %}
<div class="flex">
    <a
        class="button round"
        href="/{{ user.username }}/settings"
        title="Synced User Settings"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-settings"
            aria-label="Settings symbol"
        >
            <path
                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
            />
            <circle cx="12" cy="12" r="3" />
        </svg>
        Settings
    </a>
</div>
{% endif %} {% endblock %} {% block content%}
<main class="flex flex-col gap-2">
    <div
        id="error"
        class="mdnote note-error w-full"
        style="display: none"
    ></div>
    <div
        id="success"
        class="mdnote note-note w-full"
        style="display: none"
    ></div>

    <div class="card round flex flex-col gap-4">
        <div class="flex flex-col gap-4">
            <div
                class="flex items-center gap-4 flex-wrap"
                style="max-width: 100%"
            >
                <img
                    class="avatar"
                    style="--size: 60px"
                    src="/api/v1/auth/users/{{ user.username }}/avatar"
                />

                <div
                    class="flex flex-col"
                    style="max-width: 100%; min-width: max-content"
                >
                    <h4
                        class="no-margin"
                        id="user-fake-name"
                        style="max-width: 100vw"
                    >
                        {{ user_nick }}
                    </h4>

                    <span id="user-real-name">{{ user.username }}</span>
                </div>
            </div>

            <div
                id="stats-or-info"
                class="flex w-full flex-wrap justify-center md:justify-start footernav gap-4"
            >
                <div class="item" style="margin-left: 0">
                    <a href="/{{ user.username }}/following">
                        <b>{{ following_count }}</b>
                        following
                    </a>
                </div>

                <div class="item">
                    <a href="/{{ user.username }}/followers">
                        <b>{{ followers_count }}</b>
                        followers
                    </a>
                </div>

                {% if (can_edit == false) && (auth_state == true) %}
                <div class="item">
                    <button
                        class="round secondary"
                        id="follow-user"
                        data-endpoint="/api/v1/auth/users/{{ user.username }}/follow"
                        style="
                            height: 25px !important;
                            min-height: 25px !important;
                        "
                    >
                        {% if is_following %} Unfollow {% else %} Follow {%
                        endif %}
                    </button>
                </div>
                {% endif %} {% if (deducktive != "") && (can_edit == false) %}
                <div class="item">
                    <button
                        id="report_button"
                        title="Report Page"
                        class="round red tertiary"
                        data-endpoint="{{ deducktive }}/api/v1/reports"
                        style="
                            height: 25px !important;
                            min-height: 25px !important;
                        "
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-flag"
                            aria-label="Flag symbol"
                        >
                            <path
                                d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"
                            />
                            <line x1="4" x2="4" y1="22" y2="15" />
                        </svg>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>

        <hr />

        <div class="card secondary round" id="description">
            {% if edit_mode == true %}
            <form
                id="edit-about"
                class="flex flex-col gap-2"
                data-endpoint="/api/v1/auth/users/{{ user.username }}/about"
            >
                <div class="w-full flex justify-between items-center gap-2">
                    <b>Edit About</b>

                    <button class="theme:primary round">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-save"
                        >
                            <path
                                d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
                            />
                            <polyline points="17 21 17 13 7 13 7 21" />
                            <polyline points="7 3 7 8 15 8" />
                        </svg>
                        Save
                    </button>
                </div>

                <textarea
                    type="text"
                    name="about"
                    id="about"
                    placeholder="About"
                    class="w-full round"
                    minlength="2"
                    maxlength="200000"
                    required
                >
{{ meta.about }}</textarea
                >
            </form>
            {% else %} {{ about|safe }} {% endif %}

            <!-- prettier:ignore -->
            {% if (can_edit == true) && (edit_mode == false) %}
            <a class="button round theme:primary" href="?edit=true">
                Edit About
            </a>
            {% endif %}
        </div>
    </div>

    <!-- activity -->
    <hr />

    <div class="card w-full round flex flex-col gap-2" id="feed">
        <div class="flex justify-between items-center">
            <h6 class="no-margin">Activity</h6>

            {% if can_edit == true %}
            <button
                data-dialog="upper:compose"
                class="button round theme:primary"
                title="New"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-send"
                    aria-label="Paper airplane symbol"
                >
                    <path d="m22 2-7 20-4-9-9-4Z" />
                    <path d="M22 2 11 13" />
                </svg>
            </button>
            {% endif %}
        </div>

        {% for p in activity %}
        <!-- prettier:ignore -->
        {% let post = p.0.clone() %}
        <!-- prettier:ignore -->
        {% let replies = p.1.len() %}
        <div
            class="card secondary w-full round flex gap-4 post"
            id="post-{{ post.id }}"
        >
            <!-- avatar -->
            <img
                class="avatar"
                style="--size: 50px"
                src="/api/v1/auth/users/{{ post.author }}/avatar"
            />

            <!-- author and content -->
            <div class="flex flex-col gap-2 w-full">
                <!-- author -->
                <div class="post_info footernav">
                    <div class="item" style="margin-left: 0">
                        <a href="/{{ post.author }}">
                            <b>{{ post.author }}</b>
                        </a>
                    </div>

                    <div class="item">
                        <span
                            style="opacity: 75%"
                            class="date-time-to-localize"
                        >
                            {{ post.timestamp }}
                        </span>
                    </div>
                </div>
                <!-- content -->
                <div class="post_content w-full">
                    {{ post.content_html|safe }}
                </div>
                <!-- actions -->
                <div class="post_actions footernav w-full justify-right">
                    <div class="item" style="margin-left: 0">
                        <a href="/{{ post.author }}/activity/{{ post.id }}">
                            <b>{{ replies }}</b>
                            replies
                        </a>
                    </div>

                    <div class="item">
                        <a
                            class="flex items-center gap-1"
                            href="javascript:window.favorite_post('{{ post.id }}')"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-thumbs-up"
                            >
                                <path d="M7 10v12" />
                                <path
                                    d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"
                                />
                            </svg>
                            {{ p.2 }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <style>
            .post_content p {
                margin-bottom: 0 !important;
            }
        </style>
    </div>

    <div class="w-full flex justify-between" id="pages">
        <a
            class="button round"
            href="?offset={{ offset - 50 }}"
            disabled="{{ offset <= 0 }}"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-left"
            >
                <path d="m12 19-7-7 7-7" />
                <path d="M19 12H5" />
            </svg>
            Back
        </a>

        <a
            class="button round"
            href="?offset={{ offset + 50 }}"
            disabled="{{ activity.len() == 0 }}"
        >
            Next
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-right"
            >
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>
</main>

<script type="module">
    import "/static/js/ProfileView.js";
</script>

<!-- dialogs -->
<dialog id="upper:compose">
    <div style="width: 25rem; max-width: 100%" class="p-4">
        <form
            class="full flex flex-col gap-2"
            id="compose_activity"
            data-endpoint="/api/v1/activity"
            data-reply="true"
        >
            <label for="content"><b>Content</b></label>

            <textarea
                maxlength="500"
                required
                name="content"
                id="content"
                class="round secondary"
                placeholder="Post Content"
            ></textarea>

            <button class="round theme:primary">Post</button>
        </form>

        <hr class="my-4" />

        <div class="w-full flex justify-end gap-2">
            <a
                class="button round red"
                href="javascript:document.getElementById('upper:compose').close();"
            >
                Close
            </a>
        </div>
    </div>
</dialog>

{% if deducktive != "" %}
<dialog id="upper:report">
    <div style="width: 25rem; max-width: 100%" class="p-4">
        <iframe
            data-src="{{ deducktive }}/api/v1/reports/embed"
            frameborder="0"
            class="w-full"
            style="height: 500px"
        ></iframe>

        <hr class="my-4" />

        <div class="w-full flex justify-end gap-2">
            <a
                class="button round red"
                href="javascript:document.getElementById('upper:report').close();"
            >
                Close
            </a>
        </div>
    </div>
</dialog>
{% endif %} {% call super() %} {% endblock %}
